div#flox-chat-img {
    display: none !important;
}
.disabled{
  pointer-events:none;
  opacity:0.5;
}
.text-align-center{
	text-align: center;
}
.text-align-right{
	text-align: right;
}
.location-filter + ul{
	padding :0 !important;
}
.location-filter + ul li{
	padding-left: 0px !important;
}
.required-quantity-info-down{
	padding: 20px !important;
    color: #df4b4b;
}
.required-quantity-info-top{
    color: #df4b4b;	
}

.consignee-data .consignee-quantity {
  word-break: break-all;
}

.days-left{
    font-size:10px;
    border-radius: 25px;
    border: 1px solid #666666;
    padding: 2px 8px; 
    margin: 0px 0px 0px 5px;
    position: absolute;
    width:fit-content;
    height:fit-content;
}

span.stars, span.stars span {
    display: block;
    background: url('https://mkp.gem.gov.in/img/shrd/html_widget_images/51/16/877/ed89dd4014ae0_star2.png.999xx.png') 0 -15px repeat-x;
    width: 80px;
    height: 16px;
}
span.popup-stars, span.popup-stars span {
  display: block;
  background: url(https://mkp.gem.gov.in/img/shrd/html_widget_images/51/16/877/0cc898e484571_stard.png.999xx.png) 0 -10px repeat-x;
  width: 110px;
  height: 6px;
}

seller-rating{
  cursor: pointer;
}
span.stars span, span.popup-stars span {
    background-position: 0 0;
}

.alignright {
  float:right;
}
.filters .ui-select-container{
    box-shadow: none;
    border: 0px;
}

.filters .ui-select-container .ui-select-match-item {
        white-space: normal;
        font-size: 1.2rem;
        text-transform: none;
        border-radius: 15px;
        text-align: initial;
        line-height: normal;
        padding: 5px 10px !important;
        margin: 3px 3px 3px 0;
   }
  

   .filters .ui-select-container input.ui-select-search{
    width: 100% !important;
    border: 1px solid #dddddd;
    height: 40px;
    line-height: 40px;
    outline: none;
    margin:15px 0 0;
   }

   .core-filter {
    margin-top:20px;
  }

  .filters .ui-select-container .ui-select-match-item .close{
    color: #fff;
    opacity: 1;
    font-weight: normal;
    font-size: 1.9rem;
  }

.buyer-manual-link{
  font-weight: bold !important;
  margin-bottom: 0px !important;
}
.custom_bid_service_consent_popup .popup-message li +li{
  margin-top: 15px;
}
.purchase-expiry-message{
  display: inline-block;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 600;
  background: #ffffff;
  padding: 0 15px;
  color: #ab2a2a;
}